
<ng-container *ngIf="updateStatus">
<div class="display">
</div>    
    <div class="update" >
        <form [formGroup]="form" action="">
            <input type="text" formControlName="mail" name="" id="">
            <input type="text" formControlName="password" name="" id="">
            <input type="text" formControlName="confirmPassword"  name="" id="">
            <input type="text" formControlName="nickname" name="" id="">
            <input type="text" formControlName="phoneNumber"  name="" id="">
            <input type="text" formControlName="website" name="" id="">
            <button>Submit</button>
        </form>
    </div>
</ng-container>


