<ng-container *ngIf="edit">
<div class="display">
</div>    
    <div class="update" >
        <form [formGroup]="form" (ngSubmit)="onSubmit()" action="">
            <input type="text" formControlName="mail" name="" id="">
            <input type="password" formControlName="password" name="" id="">
            <input type="password" formControlName="confirmPassword"  name="" id="">
            <input type="text" formControlName="nickname" name="" id="">
            <input type="text" formControlName="phoneNumber"  name="" id="">
            <input type="text" formControlName="website" name="" id="">
            <button type="submit">Submit</button>
        </form>
    </div>
</ng-container>


