    <div class="display">
    </div>    
    <div class="update" >
        <form [formGroup]="form" >
            <input type="text" formControlName="mail" >
            <input type="password" formControlName="password" >
            <input type="password" formControlName="confirmPassword" >
            <input type="text" formControlName="nickname" >
            <input type="text" formControlName="phoneNumber" >
            <input type="text" formControlName="website" >
            <button type="submit">Submit</button>
        </form>
    </div>
