<div class="topbar">
    <div class="leftside style">
        <div class="nav">
            <p>Navigation</p>
        </div>

        <ng-container *ngIf="token != null; else elseBlock">
            <div class="category">
                <a routerLink="Users"><p>Users</p></a>
            </div> 
        </ng-container>  
        
        <ng-template #elseBlock> 
            <div class="category">
                <a routerLink="/registration"><p>Register page</p></a>
            </div>
            <div class="category">
                <a routerLink="LogIn"><p>Log in</p></a>
            </div>
        </ng-template>    
        
        <div class="category">
            <a routerLink="currency"><p>Currency page</p></a>
        </div>
        <div class="category">
            <a routerLink="employees"><p>dataBase</p></a>
        </div>
    </div>
    <div class="rightside style">
        <ng-container *ngIf="token != null">
            <div class="category">
                <a routerLink="LogIn" (click)="onLogOut()"><p>Log Out</p></a>
            </div>
        </ng-container>
    </div>
</div>
