<ng-container *ngIf="users$ | async as users">
    <div class="list">
       <div class="users" >
            <ng-container *ngIf="users">
                    <ng-container *ngFor="let user of users">
                        <app-user [user]="user" [currentUpdated]="currentUser" (delete)="onDelete($event)" (edit)="onEdit($event)"></app-user>
                    </ng-container>
            </ng-container>
        </div>

        <div class="delete" *ngIf="delete" >
            <div class="content">
                <p>
                This action will remove a user with this email: {{currentUser?.mail}} Are you shure?
                </p>
                <div class="buttons">
                    <button (click)="onDeleteSubmit()">Confirm</button>
                    <button (click)="onDeleteCancel()">Cancle</button>
                </div>
            </div>
        </div>  

        <ng-container *ngIf="updateStatus">
            <div class="update">
                <app-update [user]="currentUser"  (submited)="onSubmit($event)" ></app-update>
            </div>
        </ng-container>    
    </div>
</ng-container>