<div class="component">
    <div class="people">
        <ng-container *ngIf="people$ | async as people">
            <app-pagination class="child" [people]="people" (update)="updateData($event)" (delete)="onDelete($event)"></app-pagination>
        </ng-container>    
    </div>
    <div class="createForm">
        <div class="form">
            <app-employee-register (register)="onRegister($event)" [updateEmployee]="updateEmployee" (update)="onUpdate($event)"></app-employee-register>
        </div>
    </div>
</div>
